@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Google Fonts link here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

::-webkit-scrollbar {
  @apply hidden
}

* {
  font-family: "Poppins", sans-serif;

}